body{
    font-family: 'Silkscreen', cursive;

}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Silkscreen', cursive;

}

p{
    font-family: 'Silkscreen', cursive;

}

/* Navigation Bar */

.navbar {
    padding: 0 0 6rem;
}

.navbar-brand{
    font-family: 'Silkscreen', cursive;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 0 18px 18px;
    font-size: 1.2rem;
    font-weight: lighter;
}

#title{
    background-color: #FFBCBC;
    color: white;
    margin-bottom: -82px;
}

/* Top Section */

.maincat {
    width: min-content;
    position: absolute;
    right: 5%;
}

.bigheading {
    font-family: 'Silkscreen', cursive;
    size: 3.5rem;
    line-height: 1.5;
    color: #0d0b0b;
}

.smallheading{
    font-family: 'Silkscreen', cursive;
    size: 2rem;
    line-height: 1.5;
    color: #0d0b0b;
}

.container-fluid{
    padding: 3% 7% 10%;
}
#downloadbtn{
    border-radius: 0%;
    size: 5px;
    margin: 5% 3% 5% 0;
}

/* Features Section */
#features{
    background-color: #ffebeb;
    padding: 1% 5%;
    position: relative;
    z-index: 1;
}

.featuresbigtxt{
    font-family: 'Silkscreen', cursive;
    font-weight: bold;
    color: #0d0b0b;
}
.featuressmalltxt{
    color: #0d0b0b;
}

.features-box{
    text-align: center;
    padding: 5%;  
}
.icon{
    color: #FFBCBC;
    margin-bottom: 1rem;
}
.icon:hover{
    color: #0d0b0b;
}


/* Press Section */

#press{
    background-color: #ffebeb;
    text-align: center;
    padding-bottom: 2px;
    padding-top: 2px;

}
.press-logo{
    width: 5%;
    margin: 20px 20px 50px;
    padding: 10px 15px;
}


/* Testimonial Section */

#testimonials {
 padding: 7% 7% 7% 7%;
 text-align: center;
 background-color: #ffbcbc;
 color: #ffffff;
}

.testimonial-text{
    font-style: normal;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bold;
    color: #0d0b0b;
}

.testname1{
    font-size: 1.3em;
}
.testimonial-image{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin: 20px;
}


.testimonial-image-lady{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin: 20px;
}

/* Pricing Section */

#pricing {
    padding: 20px;
    text-align: center;
    font-family: 'Silkscreen', cursive;
    font-style: normal;
    background-color: #ffebeb;
    color: #0d0b0b;
}


.pricing-column{
    padding: 2% 2%;
    text-align: center;
}

/* Call To Action */

#cta{
    background-color: #ffbcbc;
    padding: 5% 3%;
}
.ctatext{
    text-align: center;
    color: #ffffff;
    padding-bottom: 50px;
    padding-top: 0;
    font-size: 3.5rem;
}

.ctabtn{
        border-radius: 0%;
        /* margin-top: 5px;
        margin-bottom: 5px;*/
        margin-left: 415px;
        margin-right: 300px;
        align-items: center;
        justify-content: center;
}
#downloadbtnfoot {
    border-radius: 0;
    padding: 25px 100px;
}

/* Footer */

.copyright{
    text-align: center;
}

#footer{
    background-color: #FFBCBC;
    padding: 0 10px;
    margin-bottom: -2rem;
}

/* Media Query */

@media (max-width: 988px) {
    .maincat{
        position: static;
        box-align: center;
    }
    .row{
        align-items: center;
        text-align: center;
    }
    .ctabtn{
        border-radius: 0%;
        margin-left: 200px;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 1436px){
    .ctabtn{
        border-radius: 0%;
        margin-left: 325px;
        align-items: center;
        justify-content: center;
    }
}